Repository ROCm/rocm-systems, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ROCm/rocm-math-lib-build-infra, @ROCm/external-ci, @ROCm/rocm-systems-reviewers, @ROCm/rocm-documentation, @ammarwa, @bgopesh, @dmitrii-galantsev, @bill-shuzhou-liu, @nunnikri, @frepaul, @raramakr, @ashutom, @amd-isparry, @arvindcheru, @charis-poag-amd, @oliveiradan, @dayatsin-amd, @shwetagkhatri, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @jrmadsen, @t-tye, @ROCm/rocprof-sys, @kentrussell, @fxkamd, @bwelton, @MythreyaK, @ApoKalipse-V, @SrirakshaNag, @vlaindic, @prbasyal-amd

.github/CODEOWNERS:

# Generic Ownership (broadest rules first)
**/next-cmake/                                                        @ROCm/rocm-math-lib-build-infra

# CI ownership
/.azuredevops/                                                        @ROCm/external-ci
/.github/                                                             @ROCm/rocm-systems-reviewers

# Global documentation ownership
/**/*.md                                                              @ROCm/rocm-documentation
/**/*.rst                                                             @ROCm/rocm-documentation
**/.readthedocs.yaml                                                  @ROCm/rocm-documentation
**/docs/                                                              @ROCm/rocm-documentation
**/library/include/                                                   @ROCm/rocm-documentation

# Project-specific ownership
/projects/aqlprofile/                                                 @ammarwa @bgopesh
/projects/rdc/                                                        @dmitrii-galantsev @bill-shuzhou-liu
/projects/rocm-core/                                                  @nunnikri @frepaul @raramakr @ashutom @amd-isparry @arvindcheru
/projects/rocm-smi-lib/                                               @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan
/projects/rocminfo/                                                   @dayatsin-amd @shwetagkhatri
/projects/rocprofiler/                                                @ammarwa @bgopesh
/projects/rocprofiler-compute/                                        @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd
/projects/rocprofiler-register/                                       @ammarwa @bgopesh
/projects/rocprofiler-sdk/                                            @jrmadsen @t-tye
/projects/rocprofiler-systems/                                        @ROCm/rocprof-sys @jrmadsen
/projects/rocr-runtime/                                               @kentrussell @fxkamd @dayatsin-amd
/projects/roctracer/                                                  @ammarwa @bgopesh

# rocprofiler-sdk section-specific code owners
/projects/rocprofiler-sdk/source/docs                                 @bgopesh
/projects/rocprofiler-sdk/source/include                              @jrmadsen      @bwelton     @ammarwa
/projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl         @MythreyaK
/projects/rocprofiler-sdk/source/include/rocprofiler-sdk/kfd          @MythreyaK
/projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/codeobj  @ApoKalipse-V
/projects/rocprofiler-sdk/source/bin                                  @SrirakshaNag  @bgopesh
/projects/rocprofiler-sdk/source/libexec                              @SrirakshaNag
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters         @bwelton
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling      @vlaindic
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace     @ApoKalipse-V
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rccl             @MythreyaK
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/kfd              @MythreyaK
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool             @SrirakshaNag
/projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-codeobj          @ApoKalipse-V


# Documentation-specific ownership by project
/projects/aqlprofile/**/*.md                                          @ammarwa @bgopesh @ROCm/rocm-documentation
/projects/aqlprofile/**/*.rst                                         @ammarwa @bgopesh @ROCm/rocm-documentation

/projects/rdc/**/*.md                                                 @dmitrii-galantsev @bill-shuzhou-liu @ROCm/rocm-documentation
/projects/rdc/**/*.rst                                                @dmitrii-galantsev @bill-shuzhou-liu @ROCm/rocm-documentation
/projects/rdc/**/.readthedocs.yaml                                    @dmitrii-galantsev @bill-shuzhou-liu @ROCm/rocm-documentation
/projects/rdc/docs/                                                   @dmitrii-galantsev @bill-shuzhou-liu @ROCm/rocm-documentation

/projects/rocm-core/**/*.md                                           @nunnikri @frepaul @raramakr @ashutom @amd-isparry @arvindcheru @ROCm/rocm-documentation
/projects/rocm-core/**/*.rst                                          @nunnikri @frepaul @raramakr @ashutom @amd-isparry @arvindcheru @ROCm/rocm-documentation

/projects/rocm-smi-lib/**/*.md                                        @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan @ROCm/rocm-documentation
/projects/rocm-smi-lib/**/*.rst                                       @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan @ROCm/rocm-documentation
/projects/rocm-smi-lib/**/.readthedocs.yaml                           @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan @ROCm/rocm-documentation
/projects/rocm-smi-lib/docs/                                          @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan @ROCm/rocm-documentation

/projects/rocminfo/**/*.md                                            @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation
/projects/rocminfo/**/*.rst                                           @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation
/projects/rocminfo/**/.readthedocs.yaml                               @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation
/projects/rocminfo/docs/                                              @dayatsin-amd @shwetagkhatri @ROCm/rocm-documentation

/projects/rocprofiler/**/*.md                                         @ammarwa @bgopesh @ROCm/rocm-documentation
/projects/rocprofiler/**/*.rst                                        @ammarwa @bgopesh @ROCm/rocm-documentation
/projects/rocprofiler/doc/                                            @ammarwa @bgopesh @ROCm/rocm-documentation

/projects/rocprofiler-compute/**/*.md                                 @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd @ROCm/rocm-documentation @prbasyal-amd
/projects/rocprofiler-compute/**/*.rst                                @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd @ROCm/rocm-documentation @prbasyal-amd
/projects/rocprofiler-compute/**/.readthedocs.yaml                    @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd @ROCm/rocm-documentation @prbasyal-amd
/projects/rocprofiler-compute/docs/                                   @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd @ROCm/rocm-documentation @prbasyal-amd

/projects/rocprofiler-register/**/*.md                                @ammarwa @bgopesh @ROCm/rocm-documentation
/projects/rocprofiler-register/**/*.rst                               @ammarwa @bgopesh @ROCm/rocm-documentation

/projects/rocprofiler-systems/**/*.md                                 @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation
/projects/rocprofiler-systems/**/*.rst                                @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation
/projects/rocprofiler-systems/**/.readthedocs.yaml                    @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation
/projects/rocprofiler-systems/docs/                                   @ROCm/rocprof-sys @jrmadsen @ROCm/rocm-documentation

/projects/rocr-runtime/**/*.md                                        @kentrussell @fxkamd @dayatsin-amd @ROCm/rocm-documentation
/projects/rocr-runtime/**/*.rst                                       @kentrussell @fxkamd @dayatsin-amd @ROCm/rocm-documentation
/projects/rocr-runtime/**/.readthedocs.yaml                           @kentrussell @fxkamd @dayatsin-amd @ROCm/rocm-documentation

/projects/roctracer/**/*.md                                           @ammarwa @bgopesh @ROCm/rocm-documentation
/projects/roctracer/**/*.rst                                          @ammarwa @bgopesh @ROCm/rocm-documentation
/projects/roctracer/doc/                                              @ammarwa @bgopesh @ROCm/rocm-documentation

[rocprofiler-sdk] ci: implement graceful failure handling for install requirements across all workflows
  projects/rocprofiler-sdk/.github/workflows/code_coverage.yml
  projects/rocprofiler-sdk/.github/workflows/codeql.yml
  projects/rocprofiler-sdk/.github/workflows/continuous_integration.yml
  projects/rocprofiler-sdk/.github/workflows/docs.yml
  projects/rocprofiler-sdk/.github/workflows/rocm_release_compatibility.yml
Owners: @jrmadsen, @t-tye

Added for install step as well
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-docs.yml
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
  projects/rocprofiler-sdk/.github/workflows/code_coverage.yml
  projects/rocprofiler-sdk/.github/workflows/codeql.yml
  projects/rocprofiler-sdk/.github/workflows/continuous_integration.yml
  projects/rocprofiler-sdk/.github/workflows/docs.yml
  projects/rocprofiler-sdk/.github/workflows/rocm_release_compatibility.yml
Owners: @ROCm/rocm-systems-reviewers, @jrmadsen, @t-tye

Fix formatting of CMakeLists.txt for cmake-format check
  projects/rocprofiler-compute/CMakeLists.txt
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix memory_partition reference.
  projects/rocprofiler-compute/src/utils/specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix format.
  projects/rocprofiler-compute/CMakeLists.txt
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd
