Repository ROCm/rocm-systems, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ROCm/rocm-devops, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ammarwa, @bgopesh, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jrmadsen, @t-tye, @ROCm/rocprof-sys, @kentrussell, @fxkamd, @dayatsin-amd, @bwelton, @MythreyaK, @ApoKalipse-V, @SrirakshaNag, @vlaindic, @ROCm/external-ci, @ROCm/rocm-documentation, @koomie

.github/CODEOWNERS:

* @ROCm/rocm-devops
/amd-smi/* @marifamd @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan
/rdc/* @dmitrii-galantsev @bill-shuzhou-liu
/rocm_smi_lib/* @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan
/rocprofiler/* @ammarwa @bgopesh
/rocprofiler-compute/* @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd
/rocprofiler-sdk/* @jrmadsen @t-tye
/rocprofiler-systems/* @ROCm/rocprof-sys @jrmadsen
/ROCR-Runtime/* @kentrussell @fxkamd @dayatsin-amd
/roctracer/* @ammarwa @bgopesh

# rocprofiler-sdk section-specific code owners
/rocprofiler-sdk/source/docs                                 @bgopesh
/rocprofiler-sdk/source/include                              @jrmadsen      @bwelton     @ammarwa
/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl         @MythreyaK
/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/codeobj  @ApoKalipse-V
/rocprofiler-sdk/source/bin                                  @SrirakshaNag  @bgopesh
/rocprofiler-sdk/source/libexec                              @SrirakshaNag
/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters         @bwelton
/rocprofiler-sdk/source/lib/rocprofiler-sdk/pc_sampling      @vlaindic
/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace     @ApoKalipse-V
/rocprofiler-sdk/source/lib/rocprofiler-sdk/page_migration   @MythreyaK
/rocprofiler-sdk/source/lib/rocprofiler-sdk/rccl             @MythreyaK
/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool             @SrirakshaNag
/rocprofiler-sdk/source/lib/rocprofiler-sdk-codeobj          @ApoKalipse-V

*/.azuredevops/ @ROCm/external-ci

# Documentation files
*/docs/* @ROCm/rocm-documentation
*/*.md @ROCm/rocm-documentation
*/*.rst @ROCm/rocm-documentation
*/.readthedocs.yaml @ROCm/rocm-documentation
/ROCR-Runtime/*.md @ROCm/rocm-documentation @kentrussell @dayatsin-amd
/ROCR-Runtime/*.rst @ROCm/rocm-documentation @kentrussell @dayatsin-amd

# ROCR-Runtime header directory for Doxygen documentation
/ROCR-Runtime/inc/* @ROCm/rocm-documentation @kentrussell @fxkamd @dayatsin-amd

# rocprofiler-compute Packaging
/rocprofiler-compute/cmake/ @koomie
/rocprofiler-compute/tests/ @koomie
/rocprofiler-compute/CMakeLists.txt @koomie
/rocprofiler-compute/utils/ @koomie

Add palamida.yml (#11)
  .github/palamida.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#11)
  projects/roctracer/.github/palamida.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#9)
  .github/palamida.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#9)
  projects/rocprofiler-register/.github/palamida.yml
Owners: @ROCm/rocm-devops

Removing deprecated Ubuntu 20.04 runner (#11)
  .github/workflows/continuous-integration.yml
Owners: @ROCm/rocm-devops

Removing deprecated Ubuntu 20.04 runner (#11)
  projects/rocprofiler-register/.github/workflows/continuous-integration.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#25)
  .github/palamida.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#25)
  projects/rocprofiler/.github/palamida.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#362)
  .github/palamida.yml
Owners: @ROCm/rocm-devops

Add palamida.yml (#362)
  projects/rocprofiler-sdk/.github/palamida.yml
Owners: @ROCm/rocm-devops

Using miniconda docker (#366)
  .github/workflows/docs.yml
  source/docs/CMakeLists.txt
  source/docs/environment.yml
  source/docs/how-to/using-rocprofv3.rst
Owners: @ROCm/rocm-devops, @ROCm/rocm-documentation

Using miniconda docker (#366)
  projects/rocprofiler-sdk/.github/workflows/docs.yml
  projects/rocprofiler-sdk/source/docs/CMakeLists.txt
  projects/rocprofiler-sdk/source/docs/environment.yml
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
Owners: @ROCm/rocm-devops

SWDEV-467854 - [catch2][dtest] Functional testcases for hipGetProcAddress API - Part 3
  catch/unit/graph/hipGetProcAddressGraphApis.cc
  catch/unit/memory/CMakeLists.txt
  catch/unit/memory/hipGetProcAddressAmdDbgApi.cc
  catch/unit/memory/hipGetProcAddressMemoryApis.cc
  catch/unit/module/hipGetProcAddressModuleApis.cc
  catch/unit/streamperthread/hipGetProcAddressSptApis.cc
  catch/unit/surface/CMakeLists.txt
  catch/unit/surface/hipGetProcAddressSurfaceApis.cc
  catch/unit/texture/CMakeLists.txt
  catch/unit/texture/hipGetProcAddressTextureApis.cc
  catch/unit/virtualMemoryManagement/hipGetProcAddressVmmApis.cc
Owners: @ROCm/rocm-devops

doc improvements for 1.0.0 (#367)
  projects/rocprofiler-sdk/source/docs/_toc.yml.in
  projects/rocprofiler-sdk/source/docs/api-reference/tool_library.rst
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
  projects/rocprofiler-sdk/source/docs/index.rst
Owners: @ROCm/rocm-devops

doc improvements for 1.0.0 (#367)
  source/docs/_toc.yml.in
  source/docs/api-reference/tool_library.rst
  source/docs/how-to/using-rocprofv3.rst
  source/docs/index.rst
Owners: @ROCm/rocm-documentation, @ROCm/rocm-devops

[SWDEV-528097] Fix HIP_UUID output from updates (#311)
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-devops

[SWDEV-528097] Fix HIP_UUID output from updates (#311)
  projects/amdsmi/src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-devops

[SWDEV-527430] Fixed Mainline ABI Check (#310)
  projects/amdsmi/.github/workflows/abi-check.yml
  projects/amdsmi/.github/workflows/abi-check2.yml
Owners: @ROCm/rocm-devops

[SWDEV-527430] Fixed Mainline ABI Check (#310)
  .github/workflows/abi-check.yml
  .github/workflows/abi-check2.yml
Owners: @ROCm/rocm-devops

SWDEV-500337 - Add basic multi_proc tests for Windows
  catch/multiproc/deviceAllocationMproc.cc
  catch/multiproc/hipDeviceGetPCIBusIdMproc.cc
  catch/multiproc/hipDeviceTotalMemMproc.cc
  catch/multiproc/hipGetDeviceAttributeMproc.cc
  catch/multiproc/hipGetDeviceCountMproc.cc
  catch/multiproc/hipIpcEventHandle.cc
  catch/multiproc/hipIpcMemAccessTest.cc
  catch/multiproc/hipMemCoherencyTstMProc.cc
  catch/multiproc/hipMemGetInfoMProc.cc
Owners: @ROCm/rocm-devops

Broken link fix to How-to: Configuring Runtime Options [amd-staging] (#180)
  docs/how-to/configuring-runtime-options.rst
Owners: @ROCm/rocm-devops

Broken link fix to How-to: Configuring Runtime Options [amd-staging] (#180)
  projects/rocprofiler-systems/docs/how-to/configuring-runtime-options.rst
Owners: @ROCm/rocm-devops

[SWDEV-489696] Improve Functional Test (#241)
  tests/amd_smi_test/functional/power_cap_read_write.cc
  tests/amd_smi_test/functional/power_cap_read_write.h
Owners: @ROCm/rocm-devops

[SWDEV-489696] Improve Functional Test (#241)
  projects/amdsmi/tests/amd_smi_test/functional/power_cap_read_write.cc
  projects/amdsmi/tests/amd_smi_test/functional/power_cap_read_write.h
Owners: @ROCm/rocm-devops

[SWDEV-522996] Sync Unified Header and AMDSMI (#305)
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/amdsmi_wrapper.py
Owners: @ROCm/rocm-devops

[SWDEV-522996] Sync Unified Header and AMDSMI (#305)
  include/amd_smi/amdsmi.h
  py-interface/amdsmi_wrapper.py
Owners: @ROCm/rocm-devops

Changelog edited to sync with release branch and clarity [amdstaging] (#182)
  CHANGELOG.md
Owners: @ROCm/rocm-devops

Changelog edited to sync with release branch and clarity [amdstaging] (#182)
  projects/rocprofiler-systems/CHANGELOG.md
Owners: @ROCm/rocm-devops

[PSDB] [CI] SWDEV-528922: Modify summary MEMORY_ALLOCATION kind tests to account new hip runtime memory manger (#368)
  projects/rocprofiler-sdk/tests/rocprofv3/summary/validate.py
Owners: @ROCm/rocm-devops

[PSDB] [CI] SWDEV-528922: Modify summary MEMORY_ALLOCATION kind tests to account new hip runtime memory manger (#368)
  tests/rocprofv3/summary/validate.py
Owners: @ROCm/rocm-devops

SWDEV-529499 - Windows: FindHIP handle hipcc/hipconfig correctly
  cmake/FindHIP.cmake
Owners: @ROCm/rocm-devops

Fixed Texture test failure
  catch/unit/texture/hipGetProcAddressTextureApis.cc
Owners: @ROCm/rocm-devops

Fixed PSDB Texture test failure
  catch/unit/texture/hipGetProcAddressTextureApis.cc
Owners: @ROCm/rocm-devops

[CI]: `test-async-copy-tracing-validate` : `test_ancestor_ids` (#364)
  tests/async-copy-tracing/validate.py
  tests/tools/json-tool.cpp
Owners: @ROCm/rocm-devops

[CI]: `test-async-copy-tracing-validate` : `test_ancestor_ids` (#364)
  projects/rocprofiler-sdk/tests/async-copy-tracing/validate.py
  projects/rocprofiler-sdk/tests/tools/json-tool.cpp
Owners: @ROCm/rocm-devops

kfdtest: Skip SVMEvict with xnack=0
  libhsakmt/tests/kfdtest/src/KFDSVMEvictTest.cpp
Owners: @ROCm/rocm-devops

SWDEV-528686: ATT fix for gfx12 s_wait_idle. Fixes for csv. Default to parse to trace. Fix for ROCR_VISIBLE_DEVICES. (#345)
  source/bin/rocprofv3.py
  source/lib/att-tool/CMakeLists.txt
  source/lib/att-tool/code.cpp
  source/lib/att-tool/code.hpp
  source/lib/att-tool/dl.cpp
  source/lib/att-tool/profile_interface.cpp
  source/lib/att-tool/profile_interface.hpp
  source/lib/att-tool/waitcnt/analysis.cpp
  source/lib/att-tool/waitcnt/analysis.hpp
  source/lib/att-tool/waitcnt/gfx12.cpp
  source/lib/att-tool/waitcnt/tests/att_decoder_waitcnt_test.cpp
  source/lib/att-tool/wave.cpp
  source/lib/att-tool/wave.hpp
  source/lib/rocprofiler-sdk-tool/config.hpp
  source/lib/rocprofiler-sdk/thread_trace/att_core.cpp
  tests/rocprofv3/advanced-thread-trace/CMakeLists.txt
  tests/rocprofv3/advanced-thread-trace/att_input.json
  tests/rocprofv3/advanced-thread-trace/att_input.yml.in
Owners: @ROCm/rocm-devops

SWDEV-528686: ATT fix for gfx12 s_wait_idle. Fixes for csv. Default to parse to trace. Fix for ROCR_VISIBLE_DEVICES. (#345)
  projects/rocprofiler-sdk/source/bin/rocprofv3.py
  projects/rocprofiler-sdk/source/lib/att-tool/CMakeLists.txt
  projects/rocprofiler-sdk/source/lib/att-tool/code.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/code.hpp
  projects/rocprofiler-sdk/source/lib/att-tool/dl.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/profile_interface.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/profile_interface.hpp
  projects/rocprofiler-sdk/source/lib/att-tool/waitcnt/analysis.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/waitcnt/analysis.hpp
  projects/rocprofiler-sdk/source/lib/att-tool/waitcnt/gfx12.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/waitcnt/tests/att_decoder_waitcnt_test.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/wave.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/wave.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk-tool/config.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/att_core.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/att_input.json
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/att_input.yml.in
Owners: @ROCm/rocm-devops

[SDK] Fix for hang in hsa_barrier (#316)
  source/lib/rocprofiler-sdk/hsa/hsa_barrier.cpp
  source/lib/rocprofiler-sdk/hsa/hsa_barrier.hpp
  source/lib/rocprofiler-sdk/tests/hsa_barrier.cpp
Owners: @ROCm/rocm-devops

[SDK] Fix for hang in hsa_barrier (#316)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa_barrier.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa_barrier.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/tests/hsa_barrier.cpp
Owners: @ROCm/rocm-devops
