Repository ROCm/rocm-systems, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ROCm/rocm-documentation, @ROCm/rocm-math-lib-build-infra, @ROCm/external-ci, @BrianHarrisonAMD, @BradPepersAMD, @adickin-amd, @JonathanLichtnerAMD, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @bnemanich, @daineAMD, @TorreZuk, @amcamd, @mahmoodw, @bragadeesh, @NaveenElumalaiAMD, @rkamd, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ellosel, @AlexBrownAMD, @msujon-AMD, @babakpst, @stanleytsang-amd, @umfranzw, @RobsonRLemos, @af-ayala, @eng-flavio-teixeira, @evetsso, @feizheng10, @malcolmroberts, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd, @ntrost57, @YvanMokwinski, @jsandham, @Jay0521, @alex391a, @yoichiyoshida, @AGonzales-amd, @kliegeois, @ROCm/rocroller-developers, @bstefanuk

Adding high bits for ATT buffer size (#171)
  projects/aqlprofile/src/core/include/aqlprofile-sdk/aql_profile_v2.h
  projects/aqlprofile/src/core/threadtrace.cpp
  projects/aqlprofile/src/pm4/sqtt_builder.h
  projects/aqlprofile/src/pm4/trace_config.h
Owners: none

[SWDEV-545342] Fixed amdsmi_link_type_t enumeration (#560)
  projects/amdsmi/CHANGELOG.md
  projects/amdsmi/docs/reference/amdsmi-py-api.md
  projects/amdsmi/include/amd_smi/amdsmi.h
  projects/amdsmi/py-interface/amdsmi_interface.py
  projects/amdsmi/py-interface/amdsmi_wrapper.py
Owners: @ROCm/rocm-documentation

Thread trace and Trace Decoder API tests and samples (#416)
  projects/rocprofiler-sdk/samples/CMakeLists.txt
  projects/rocprofiler-sdk/samples/thread_trace/CMakeLists.txt
  projects/rocprofiler-sdk/samples/thread_trace/README.md
  projects/rocprofiler-sdk/samples/thread_trace/agent.cpp
  projects/rocprofiler-sdk/samples/thread_trace/main.cpp
  projects/rocprofiler-sdk/source/docs/api-reference/thread_trace.rst
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/hash.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/operators.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/experimental/thread-trace/trace_decoder.h
  projects/rocprofiler-sdk/source/lib/att-tool/att_lib_wrapper.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/att_lib_wrapper.hpp
  projects/rocprofiler-sdk/source/lib/att-tool/profile_interface.cpp
  projects/rocprofiler-sdk/source/lib/att-tool/profile_interface.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/thread_trace/decode.cpp
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/advanced-thread-trace/att_input_will_fail.yml.in
  projects/rocprofiler-sdk/tests/thread-trace/agent.cpp
  projects/rocprofiler-sdk/tests/thread-trace/multi_dispatch.cpp
  projects/rocprofiler-sdk/tests/thread-trace/single_dispatch.cpp
  projects/rocprofiler-sdk/tests/thread-trace/trace_callbacks.cpp
  projects/rocprofiler-sdk/tests/thread-trace/trace_callbacks.hpp
Owners: @ROCm/rocm-documentation

Thread trace and Trace Decoder API tests and samples (#416)
  samples/CMakeLists.txt
  samples/thread_trace/CMakeLists.txt
  samples/thread_trace/README.md
  samples/thread_trace/agent.cpp
  samples/thread_trace/main.cpp
  source/docs/api-reference/thread_trace.rst
  source/include/rocprofiler-sdk/cxx/hash.hpp
  source/include/rocprofiler-sdk/cxx/operators.hpp
  source/include/rocprofiler-sdk/experimental/thread-trace/trace_decoder.h
  source/lib/att-tool/att_lib_wrapper.cpp
  source/lib/att-tool/att_lib_wrapper.hpp
  source/lib/att-tool/profile_interface.cpp
  source/lib/att-tool/profile_interface.hpp
  source/lib/rocprofiler-sdk/thread_trace/decode.cpp
  tests/rocprofv3/advanced-thread-trace/CMakeLists.txt
  tests/rocprofv3/advanced-thread-trace/att_input_will_fail.yml.in
  tests/thread-trace/agent.cpp
  tests/thread-trace/multi_dispatch.cpp
  tests/thread-trace/single_dispatch.cpp
  tests/thread-trace/trace_callbacks.cpp
  tests/thread-trace/trace_callbacks.hpp
Owners: @ROCm/rocm-documentation

CPU - WIP - Add a lot of fields
  common/rdc_field.data
  include/rdc/rdc.h
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: none

CPU - WIP
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcMetricFetcherImpl.h
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: none

CPU - Init amdsmi with CPUs enabled
  CMakeLists.txt
  common/rdc_field.data
  common/rdc_fields_supported.cc
  include/rdc/rdc.h
  protos/rdc.proto
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: none

CPU - WIP
  CMakeLists.txt
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: none

CPU - Fix enum
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: none

SWDEV-123456 - use new specific nvidia-nightly workflow
  .github/workflows/hipnvidia.yml
Owners: none

rocr: GFX12 - Enable host trap PC Sampling
  runtime/hsa-runtime/core/inc/amd_gpu_pm4.h
  runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  runtime/hsa-runtime/core/runtime/trap_handler/trap_handler_gfx12.s
Owners: none

Link to DL library (#158)
  src/core/tests/CMakeLists.txt
Owners: none

Used rocprof message func
  cmake/CTestSettings.cmake
Owners: none

SWDEV-534207 - make sure the extent is printed if Unit_hipFreeMipmappedArrayImplicitSyncArray fails
  catch/unit/memory/hipFreeMipmappedArray.cc
Owners: none

Removed redundant check
  cmake/CTestSettings.cmake
Owners: none

RDC Config fix error message
  rdc_libs/rdc/src/RdcConfigSettingsImpl.cc
Owners: none

Improve block filtering to accept metric ids
  CHANGELOG.md
  docs/how-to/profile/mode.rst
  src/argparser.py
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_tui/utils/tui_utils.py
  src/utils/tty.py
  src/utils/utils.py
  tests/test_utils.py
Owners: @ROCm/rocm-documentation

SWDEV-532641 - Add back removed test files
  catch/perftests/memory/CMakeLists.txt
Owners: none

SWDEV-545870 - Remove beta warning in HIP Graph APIs
  include/hip/hip_runtime_api.h
Owners: none

Create rocm_ci_caller.yml
  .azuredevops/rocm_ci_caller.yml
Owners: @ROCm/external-ci

remove staging from branches
  .azuredevops/rocm_ci_caller.yml
Owners: @ROCm/external-ci

do not merge
  projects/rocprofiler-sdk/README.md
Owners: none

Apply linting fixes
  CPPLINT.cfg
  include/rdc_modules/rdc_rvs/RvsBase.h
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdci/src/RdciDiscoverySubSystem.cc
  rdci/src/RdciDmonSubSystem.cc
Owners: none

Update standalone roofline intro (#830)
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation

Fix to find MPI symbols from undefined symbols (#293)
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/details.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/fwd.hpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
Owners: none

Fix to find MPI symbols from undefined symbols (#293)
  source/bin/rocprof-sys-instrument/details.cpp
  source/bin/rocprof-sys-instrument/fwd.hpp
  source/bin/rocprof-sys-instrument/rocprof-sys-instrument.cpp
Owners: none

Update formatting.yml
  projects/rocprofiler-sdk/.github/workflows/formatting.yml
Owners: none

Improve block filtering to accept metric ids (#821)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/tui_utils.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/test_utils.py
Owners: @ROCm/rocm-documentation

Profiler - Remove UUID metric
  projects/rdc/common/rdc_field.data
  projects/rdc/include/rdc/rdc.h
  projects/rdc/rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: none

Profiler - Remove UUID metric
  common/rdc_field.data
  include/rdc/rdc.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: none

Updated rocprofiler-sdk formatting workflow
  .github/workflows/rocprofiler-sdk-formatting.yml
Owners: none

only allow 1-application-run case to go with attach/detach
  src/rocprof_compute_profile/profiler_base.py
Owners: none

[SDK] Fix context tracing domain bitset overflow (#536)
  source/lib/rocprofiler-sdk/context/domain.cpp
Owners: none

[SDK] Fix context tracing domain bitset overflow (#536)
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/context/domain.cpp
Owners: none

Added Sparse Checkouts
  .github/workflows/rocprofiler-sdk-formatting.yml
Owners: none

Run in folder
  .github/workflows/rocprofiler-sdk-formatting.yml
Owners: none

Check the WD
  .github/workflows/rocprofiler-sdk-formatting.yml
Owners: none

List all files
  .github/workflows/rocprofiler-sdk-formatting.yml
Owners: none

Fix L2 read/write/atomic bandwidths on MI350 (#831)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/1700_L2_cache.yaml
Owners: none

Added Rocprofiler-register
  .github/workflows/rocprofiler-sdk-formatting.yml
Owners: none

.github/CODEOWNERS:

# Documentation ownership
**/.readthedocs.yaml @ROCm/rocm-documentation
**/docs/ @ROCm/rocm-documentation

# Build ownership
**/next-cmake/ @ROCm/rocm-math-lib-build-infra

# CI ownership
/.azuredevops/ @ROCm/external-ci

# Project-specific ownership
/projects/miopen/ @BrianHarrisonAMD @BradPepersAMD @adickin-amd @JonathanLichtnerAMD
/projects/composablekernel/ @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @tenpercent @ThomasNing @coderfeli
/projects/hipblas-common/ @bnemanich @daineAMD @TorreZuk
/projects/hipblas-common/**/CMakeLists.txt @ROCm/rocm-math-lib-build-infra
/projects/hipblas/ @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
/projects/hipblaslt/ @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss @ellosel @AlexBrownAMD @bnemanich @msujon-AMD @babakpst
/projects/hipcub/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/hipfft/ @af-ayala @eng-flavio-teixeira @evetsso @feizheng10 @malcolmroberts
/projects/hiprand/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/hipsolver/ @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
/projects/hipsparse/ @ntrost57 @YvanMokwinski @jsandham
/projects/hipsparselt/ @vin-huang @jichangjichang @hcman2 @imcarsonliao @Jay0521 @alex391a
/projects/rocblas/ @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd @yoichiyoshida @babakpst
/projects/rocfft/ @af-ayala @eng-flavio-teixeira @evetsso @feizheng10 @malcolmroberts
/projects/rocprim/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/rocrand/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/rocsolver/ @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd @AGonzales-amd
/projects/rocsparse/ @ntrost57 @YvanMokwinski @jsandham @kliegeois
/shared/mxdatagenerator/ @ROCm/rocroller-developers
/shared/rocroller/ @ROCm/rocroller-developers
/shared/tensile/ @babakpst @yoichiyoshida @bragadeesh @AlexBrownAMD @ellosel @bstefanuk
