Repository ROCm/rocm-systems, pull requests merged in 2025-09, with the labels that each got.

#366 [rocprofiler-compute] added ctest coverage and cdash submission
  .github/workflows/rocprofiler-compute-cdash.yml
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/coverage/README.md
  projects/rocprofiler-compute/coverage/coverage-latest.xml
  projects/rocprofiler-compute/utils/run-ci.py
  projects/rocprofiler-compute/utils/update-coverage.sh
Labels: project: rocprofiler-compute, github actions, organization: ROCm

#784 Drop amdgpu-windows-interop checkout from therock-ci-windows.yml.
  .github/workflows/therock-ci-windows.yml
Labels: github actions, organization: ROCm

#819 SWDEV-536287 - [Rocprofiler-systems] Detect SELinux mode and fail-fast
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Labels: project: rocprofiler-systems, organization: ROCm

#626 rocr: Workaround for peak SDMA b/w for gfx94x
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/inc/hsa_ext_amd.h
Labels: documentation, project: rocr-runtime, github actions, organization: ROCm

#793 [rocprofiler-sdk][SDK] Update to address new API changes for HIP ROCm 7.1
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/details/format.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Labels: project: rocprofiler-sdk, organization: ROCm, ready for peer review

#832 [rocprofiler-compute] Fix MI100 tests
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_db.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Labels: project: rocprofiler-compute, organization: ROCm

#831 SWDEV-553099 - remove WITHOUT_HSA_BACKEND usage
  projects/clr/rocclr/device/rocm/rocappprofile.cpp
  projects/clr/rocclr/device/rocm/rocappprofile.hpp
  projects/clr/rocclr/device/rocm/rocdefs.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocglinterop.cpp
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rockernel.cpp
  projects/clr/rocclr/device/rocm/rockernel.hpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/device/rocm/rocprogram.cpp
  projects/clr/rocclr/device/rocm/rocprogram.hpp
  projects/clr/rocclr/device/rocm/rocregisters.hpp
  projects/clr/rocclr/device/rocm/rocsettings.cpp
  projects/clr/rocclr/device/rocm/rocsettings.hpp
Labels: organization: ROCm, project: clr

#830 [rocprofiler-sdk][CI] lint fixes
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  projects/rocprofiler-sdk/source/lib/common/regex.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/details/format.hpp
  projects/rocprofiler-sdk/source/lib/tests/common/regex.cpp
Labels: project: rocprofiler-sdk, github actions, organization: ROCm, ready to merge, rocprofiler-sdk: Ready for 2nd code review

#789 SWDEV-538789 - Cleanup unused values
  projects/hip-tests/catch/perftests/memory/hipPerfBufferCopySpeed.cc
  projects/hip-tests/catch/perftests/memory/hipPerfDevMemReadSpeed.cc
  projects/hip-tests/catch/perftests/memory/hipPerfMemcpyAsyncSpeed.cc
Labels: organization: ROCm, project: hip-tests

#841 [AQLProfile] Add some missing copyright info
  projects/aqlprofile/build.sh
  projects/aqlprofile/gfxip/gpu_block_info.h
  projects/aqlprofile/test/binary_sample_ex.py
  projects/aqlprofile/test/da_16b.py
  projects/aqlprofile/test/run.sh
  projects/aqlprofile/test/run_install.sh
  projects/aqlprofile/test/run_priv.sh
  projects/aqlprofile/test/simple_convolution/simple_convolution.cl
  projects/aqlprofile/test/text_sample_ex.py
Labels: project: aqlprofile, organization: ROCm

#825 Fixing ROCPD SQL Inserts with strange text
  projects/rocprofiler-sdk/source/lib/output/generateRocpd.cpp
Labels: project: rocprofiler-sdk, organization: ROCm, rocprofiler-sdk: Ready for 1st code review, rocprofiler-sdk: Ready for 2nd code review

#850 Revert "[rocprofiler-sdk][SDK] Update to address new API changes for HIP ROCm 7.1"
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/details/format.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Labels: project: rocprofiler-sdk, organization: ROCm

#839 [rocprof-compute] updated test_utils mock to be compatible with python3.11
  projects/rocprofiler-compute/tests/test_utils.py
Labels: project: rocprofiler-compute, organization: ROCm

#755 SWDEV-549700 - Add missing destroy calls
  projects/hip-tests/catch/unit/deviceLib/AtomicsWithRandomActiveLanesInWavefront.cc
  projects/hip-tests/catch/unit/deviceLib/anyAll.cc
  projects/hip-tests/catch/unit/deviceLib/ballot.cc
  projects/hip-tests/catch/unit/deviceLib/bfloat16.cc
  projects/hip-tests/catch/unit/deviceLib/deviceAllocation.cc
  projects/hip-tests/catch/unit/deviceLib/fp8_ocp.cc
  projects/hip-tests/catch/unit/deviceLib/funnelshift.cc
  projects/hip-tests/catch/unit/deviceLib/hipDeviceMemcpy.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestClock.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestFMA.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestHost.cc
  projects/hip-tests/catch/unit/deviceLib/hipTestNew.cc
Labels: organization: ROCm, project: hip-tests

#711 SWDEV-549686 - Resolve memory leaks in texture unit-tests
  projects/clr/hipamd/src/hip_texture.cpp
  projects/hip-tests/catch/unit/texture/hipBindTexture2D.cc
  projects/hip-tests/catch/unit/texture/hipTex1DFetchCheckModes.cc
  projects/hip-tests/catch/unit/texture/hipTexObjPitch.cc
  projects/hip-tests/catch/unit/texture/hipTexObjectCreate.cc
  projects/hip-tests/catch/unit/texture/hipTexRefSetAddress.cc
Labels: organization: ROCm, project: clr, project: hip-tests

#835 SWDEV-553126 - Improve logging
  projects/clr/hipamd/src/hip_device.cpp
  projects/clr/hipamd/src/hip_event.cpp
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_stream.cpp
  projects/clr/rocclr/device/blit.cpp
  projects/clr/rocclr/device/devprogram.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/clr/rocclr/platform/command.cpp
  projects/clr/rocclr/platform/commandqueue.cpp
  projects/clr/rocclr/platform/runtime.cpp
  projects/clr/rocclr/utils/debug.hpp
Labels: organization: ROCm, project: clr

#826 [rocprof-compute] update coverage to 81.1%
  projects/rocprofiler-compute/coverage/coverage-latest.xml
  projects/rocprofiler-compute/utils/run-ci.py
Labels: project: rocprofiler-compute, organization: ROCm

#847 SWDEV-553375 - Allow hipMemAllocationTypeUncached in hipMemGetAllocationGranularity
  projects/clr/hipamd/src/hip_vm.cpp
  projects/hip-tests/catch/unit/memory/hipMemVmm.cc
Labels: organization: ROCm, project: clr, project: hip-tests

#863 [rocprof-compute] Fixed CDash compute code coverage upload
  .github/workflows/rocprofiler-compute-cdash.yml
  projects/rocprofiler-compute/coverage/Coverage.xml
  projects/rocprofiler-compute/utils/run-ci.py
  projects/rocprofiler-compute/utils/update-coverage.sh
Labels: project: rocprofiler-compute, github actions, organization: ROCm

#829 SWDEV-553028 - Adding Copyright in files for HIP-tests
  projects/hip-tests/catch/hipTestMain/hip_test_context.cc
  projects/hip-tests/catch/hipTestMain/hip_test_features.cc
  projects/hip-tests/catch/hipTestMain/main.cc
  projects/hip-tests/catch/hipTestMain/standalone_main.cc
  projects/hip-tests/catch/include/hipMallocManagedCommon.hh
  projects/hip-tests/catch/include/hip_texture_helper.hh
  projects/hip-tests/catch/kernels/Set.cpp
  projects/hip-tests/catch/kernels/vectorADD.inl
  projects/hip-tests/catch/multiproc/childMalloc.cc
  projects/hip-tests/catch/unit/deviceLib/hadd.cc
Labels: organization: ROCm, project: hip-tests

#827 SWDEV-553031 - Adding Copyright in files for HIP
  projects/hip/docs/extension/custom_directive.py
  projects/hip/docs/tools/update_example_codes.py
  projects/hip/include/hip/hip_deprecated.h
  projects/hip/include/hip/surface_types.h
Labels: documentation, organization: ROCm, project: hip

#790 Update dispatch table to move 7.1 new APIs under HIP_RUNTIME_API_TABLE_STEP_VERSION 14
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/src/hip_api_trace.cpp
Labels: organization: ROCm, project: clr

#848 Users/hkasivis/sync kfd ioctl header
  projects/rocr-runtime/libhsakmt/include/hsakmt/linux/kfd_ioctl.h
  projects/rocr-runtime/libhsakmt/src/fmm.c
Labels: project: rocr-runtime, organization: ROCm

#764 scientific notion of memchart(CLI, TUI and GUI)
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/src/utils/mem_chart.py
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/test_utils.py
Labels: project: rocprofiler-compute, organization: ROCm

#854 [rocr-runtime] Add support for WSL DXG devices
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/runtime.h
  projects/rocr-runtime/runtime/hsa-runtime/core/inc/thunk_loader.h
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_aql_queue.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_blit_sdma.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_gpu_agent.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/amd_topology.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/thunk_loader.cpp
  projects/rocr-runtime/runtime/hsa-runtime/core/util/flag.h
Labels: project: rocr-runtime, organization: ROCm

#861 SWDEV-546223 - Remove comgr query for image support from windows path
  projects/clr/rocclr/device/pal/palsettings.cpp
Labels: organization: ROCm, project: clr

#879 Including copyright headers.
  projects/rocprofiler-compute/sample/common.h
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/tui_utils.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/views/kernel_view.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/menu_bar/menu_bar.py
  projects/rocprofiler-compute/src/utils/rocpd_data.py
  projects/rocprofiler-compute/tests/test_autogen_config.py
  projects/rocprofiler-compute/utils/split_config.py
  projects/rocprofiler-compute/utils/update_license.py
  projects/rocprofiler-compute/utils/ver_check.py
Labels: project: rocprofiler-compute, organization: ROCm

#762 SWDEV-550521 - Add the JIT options for HIPRTC linker APIs
  projects/clr/hipamd/src/hip_comgr_helper.cpp
  projects/clr/hipamd/src/hip_comgr_helper.hpp
Labels: organization: ROCm, project: clr

#890 Add DVC setup step to Windows CI workflow
  .github/workflows/therock-ci-windows.yml
Labels: github actions, organization: ROCm

#676 Added Roctracer Pipeline ID to AzureScripts
  .github/scripts/azure_resolve_subtree_deps.py
Labels: github actions, organization: ROCm

#908 Fix typo in project name from 'prjects' to 'projects'
  .github/scripts/azure_resolve_subtree_deps.py
Labels: github actions, External CI, organization: ROCm

#903 Update rocm-smi and rdc CODEOWNERS
  .github/CODEOWNERS
Labels: organization: ROCm

#855 [rocr-runtime] Fix deadlock in InterceptQueue::Submit when packet count exceeds queue capacity
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/intercept_queue.cpp
Labels: project: rocr-runtime, organization: ROCm

#917 CODEOWNERS: remove rocprofiler-sdk entries
  .github/CODEOWNERS
Labels: github actions

#710 Handle mutually exclusive report section filters
  projects/rocprofiler-compute/docs/how-to/profile/mode.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_base.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v1.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v2.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprof_v3.py
  projects/rocprofiler-compute/src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/gfx90a/roofline/pmc_roof_perf.txt
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/gfx940/roofline/pmc_roof_perf.txt
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/gfx950/roofline/pmc_roof_perf.txt
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx908.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx90a.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx940.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx941.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx942.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_gfx950.py
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/gui_components/memchart.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Labels: documentation, project: rocprofiler-compute, organization: ROCm

#752 [AQLProfile] Fix caching of agents with new available data
  projects/aqlprofile/src/core/pm4_factory.h
Labels: project: aqlprofile, organization: ROCm, bug fix

#812 SWDEV-524745 - Part-I Add multi device support for hip graph. Update …
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
Labels: organization: ROCm, project: clr

#913 remove test_scientific_notation_trigger_above_upper_bound
  projects/rocprofiler-compute/tests/test_utils.py
Labels: project: rocprofiler-compute, organization: ROCm

#916 [Ex CI] enable rocm-core
  .github/scripts/azure_resolve_subtree_deps.py
Labels: github actions, External CI, organization: ROCm

#806 SWDEV-552580 - Update instructions to build HIP from source in monorepo
  projects/hip/docs/install/build.rst
Labels: documentation, organization: ROCm, project: hip

#887 SWDEV-504376 - Update definition for hipHostAllocWriteCombined
  projects/hip/include/hip/hip_runtime_api.h
Labels: organization: ROCm, project: hip

#875 SWDEV-553044 : Adding copyright header
  projects/rocm-core/rocm_version.cpp
  projects/rocm-core/rocmmod.in
Labels: organization: ROCm, project: rocm-core

#853 SWDEV-476667 - Get pcie bw from GPU metric for newer asics
  projects/rocm-smi-lib/python_smi_tools/rocm_smi.py
Labels: project: rocm-smi-lib, organization: ROCm

#932 [Ex CI] Enable rocminfo
  .github/scripts/azure_resolve_subtree_deps.py
Labels: github actions

#937 [Ex CI] Enable rocm-smi-lib
  .github/scripts/azure_resolve_subtree_deps.py
Labels: github actions, organization: ROCm

#772 CMAKE - Use gersemi instead of cmake-format
  .pre-commit-config.yaml
Labels: organization: ROCm

#898 SWDEV-553962 - Add p2p check to multidevice virtual memory tests
  projects/hip-tests/catch/unit/virtualMemoryManagement/hipMemMap.cc
Labels: organization: ROCm, project: hip-tests

#823 Fix grid_group::group_dim to return grid_dim and not block_dim
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_cooperative_groups.h
  projects/clr/hipamd/include/hip/amd_detail/hip_cooperative_groups_helper.h
  projects/hip-tests/catch/unit/cooperativeGrps/hipCGGridGroupType_old.cc
Labels: organization: ROCm, project: clr, project: hip-tests

#990 Fix documentation to match function signature
  projects/rocm-smi-lib/include/rocm_smi/rocm_smi.h
Labels: project: rocm-smi-lib, organization: ROCm

#1014 Fixing links
  projects/rocprofiler-sdk/source/docs/index.rst
Labels: documentation, project: rocprofiler-sdk, organization: ROCm

#955 change to single-kernel workload for pc_sampling tests
  projects/rocprofiler-compute/sample/mat_mul_max.hip
  projects/rocprofiler-compute/tests/CMakeLists.txt
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
Labels: project: rocprofiler-compute, organization: ROCm

#1008 [CI] Add pre/post cleanup for windows GPU test jobs (TheRock PR#1361)
  .github/workflows/therock-test-packages.yml
Labels: github actions, organization: ROCm

#965 add skip for windows ci
  .azuredevops/rocm_ci_caller.yml
Labels: External CI, organization: ROCm

#1025 rocminfo: move header comment after opening # line
  projects/rocminfo/rocm_agent_enumerator
Labels: organization: ROCm, project: rocminfo

#1023 SWDEV-555043 - Do not wait on signal if gpu in error state
  projects/clr/rocclr/device/rocm/rocdevice.cpp
Labels: organization: ROCm, project: clr

#1047 [rocprofiler-compute][webui] bug fix
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/parser.py
Labels: project: rocprofiler-compute, organization: ROCm

#1049 [ci] Always run post-job cleanup step if test fail
  .github/workflows/therock-test-packages.yml
Labels: github actions, organization: ROCm

#1030 clr: Optimize doorbell ring
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/pal/palvirtual.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
  projects/clr/rocclr/platform/command.hpp
  projects/clr/rocclr/utils/flags.hpp
Labels: organization: ROCm, project: clr

#1010 SWDEV-553065 palamida scan fix
  projects/rocprofiler/bin/build_kernel.sh
  projects/rocprofiler/bin/rocprofv2
  projects/rocprofiler/plugin/att/att.py
  projects/rocprofiler/plugin/att/att_to_csv.py
  projects/rocprofiler/plugin/att/drawing.py
  projects/rocprofiler/plugin/att/service.py
  projects/rocprofiler/plugin/att/stitch.py
  projects/rocprofiler/plugin/att/trace_view.py
  projects/rocprofiler/samples/common/common.h
  projects/rocprofiler/samples/counters_sampler/pcie_counters_example.cpp
  projects/rocprofiler/samples/counters_sampler/xgmi_counters_sampler_example.cpp
  projects/rocprofiler/samples/profiler/device_profiling_sample.cpp
  projects/rocprofiler/samples/profiler/kernel_profiling_no_replay_sample.cpp
  projects/rocprofiler/samples/run_samples.sh
  projects/rocprofiler/samples/tracer/sample.cpp
  projects/rocprofiler/samples/tracer/sample_async.cpp
  projects/rocprofiler/src/api/rocprofilerv2.cpp
  projects/rocprofiler/src/core/activity.h
  projects/rocprofiler/src/core/context.h
  projects/rocprofiler/src/core/context_pool.h
  projects/rocprofiler/src/core/core_timer.h
  projects/rocprofiler/src/core/profiling_lock.cpp
  projects/rocprofiler/src/core/profiling_lock.h
  projects/rocprofiler/src/core/proxy_queue.cpp
  projects/rocprofiler/src/core/proxy_queue.h
  projects/rocprofiler/src/tools/ctrl.cpp
  projects/rocprofiler/tests-v2/featuretests/gtests_main.cpp
Labels: project: rocprofiler, organization: ROCm, High Priority, ROCm-7.1

#1032 SWDEV-555484 - Invalidate capturing stream only for null/legacy stream.
  projects/clr/hipamd/src/hip_internal.hpp
Labels: organization: ROCm, project: clr

#713 SWDEV-548417 - Fix Memleaks in Graph
  projects/clr/hipamd/src/hip_graph.cpp
  projects/clr/hipamd/src/hip_graph_helper.hpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/platform/commandqueue.cpp
  projects/hip-tests/catch/unit/graph/hipDrvGraphMemcpyNodeGetParams.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddKernelNode.cc
  projects/hip-tests/catch/unit/graph/hipGraphAddNodeBeginCapture.cc
  projects/hip-tests/catch/unit/graph/hipGraphCloneComplx.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecChildGraphNodeSetParams.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecDestroy.cc
  projects/hip-tests/catch/unit/graph/hipGraphExecMemcpyNodeSetParamsToSymbol_old.cc
  projects/hip-tests/catch/unit/graph/hipGraphNodeGetEnabled.cc
  projects/hip-tests/catch/unit/graph/hipGraphPerf.cc
  projects/hip-tests/catch/unit/graph/hipGraphRetainUserObject.cc
  projects/hip-tests/catch/unit/graph/hipLaunchHostFunc.cc
  projects/hip-tests/catch/unit/graph/hipStreamEndCapture.cc
  projects/hip-tests/catch/unit/graph/hipStreamEndCapture_old.cc
  projects/hip-tests/catch/unit/graph/hipUserObjectCreate.cc
  projects/hip-tests/catch/unit/graph/hipUserObjectRelease.cc
  projects/hip-tests/catch/unit/graph/hipUserObjectRetain.cc
Labels: organization: ROCm, project: clr, project: hip-tests

#973 SWDEV-548417 - Fix Memleaks in Graph
  projects/clr/hipamd/src/hip_graph_internal.hpp
Labels: organization: ROCm, project: clr

#1004 SWDEV-547108 - Add dll loader for Windows build
  projects/clr/rocclr/cmake/ROCclrHSA.cmake
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/roccounters.cpp
  projects/clr/rocclr/device/rocm/roccounters.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocdevice.hpp
  projects/clr/rocclr/device/rocm/rocglinterop.hpp
  projects/clr/rocclr/device/rocm/rockernel.cpp
  projects/clr/rocclr/device/rocm/rocmemory.cpp
  projects/clr/rocclr/device/rocm/rocprintf.cpp
  projects/clr/rocclr/device/rocm/rocprogram.cpp
  projects/clr/rocclr/device/rocm/rocrctx.cpp
  projects/clr/rocclr/device/rocm/rocrctx.hpp
  projects/clr/rocclr/device/rocm/rocsignal.cpp
  projects/clr/rocclr/device/rocm/rocsignal.hpp
  projects/clr/rocclr/device/rocm/rocurilocator.cpp
  projects/clr/rocclr/device/rocm/rocurilocator.hpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.hpp
Labels: organization: ROCm, project: clr

#1045 SWDEV-555665 - skip failing tests on window
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
  projects/hip-tests/catch/unit/compiler/hipSquareGenericTarget.cc
Labels: organization: ROCm, project: hip-tests

#949 [rocprofiler-sdk][CI] Nightly build testing for rocprofiler-sdk
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
Labels: project: rocprofiler-sdk, github actions, organization: ROCm, ready for 2nd review, Continuous Integration

#1061 [att][aqlprofile] Header and fourCC intermittently missing fix
  projects/aqlprofile/src/pm4/sqtt_builder.h
Labels: project: aqlprofile, organization: ROCm

#1064 change interval for host_trap in unit test to adapt to single kernel
  projects/rocprofiler-compute/CMakeLists.txt
  projects/rocprofiler-compute/sample/mat_mul_max.hip
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/tests/test_profile_general.py
Labels: project: rocprofiler-compute, organization: ROCm

#975 SWDEV-546287 - Implement hipLibrary load/unload
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/CMakeLists.txt
  projects/clr/hipamd/src/amdhip.def
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_hcc.map.in
  projects/clr/hipamd/src/hip_library.cpp
  projects/clr/hipamd/src/hip_library.hpp
  projects/clr/hipamd/src/hip_platform.cpp
  projects/clr/hipamd/src/hip_platform.hpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/catch/unit/CMakeLists.txt
  projects/hip-tests/catch/unit/library/CMakeLists.txt
  projects/hip-tests/catch/unit/library/library_code_load.cc
  projects/hip-tests/catch/unit/library/library_negative.cc
  projects/hip-tests/catch/unit/library/loadlib_co.cc
  projects/hip-tests/catch/unit/library/loadlib_rtc.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hip/include/hip/linker_types.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/runtime_api_id.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hip/hip.def.cpp
Labels: project: rocprofiler-sdk, organization: ROCm, project: clr, project: hip, project: hipother, project: hip-tests

#712 SWDEV-541478 - return hipSuccess for hipTexObjectCreate TypePitch2D with zero width or height
  projects/clr/hipamd/src/hip_texture.cpp
Labels: organization: ROCm, project: clr

#1000 SWDEV-1 Fix a bug of VGPRs
  projects/clr/rocclr/device/rocm/rockernel.cpp
Labels: organization: ROCm, project: clr

#877 SWDEV-539145 - Return error when ext_fine_grain_pool unavailable
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/memory/hipHostAlloc.cc
  projects/hip-tests/catch/unit/memory/hipHostMalloc.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
Labels: organization: ROCm, project: clr, project: hip, project: hip-tests

#905 rocrtst: Reduce host memory limit to 70%
  projects/rocr-runtime/rocrtst/common/common.cc
  projects/rocr-runtime/rocrtst/common/common.h
  projects/rocr-runtime/rocrtst/suites/functional/memory_basic.cc
Labels: project: rocr-runtime, organization: ROCm

#1060 [CI][rocprofiler-sdk][rocprofv3] Disable attachment validation tests when attachment execution test is disabled
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-once/CMakeLists.txt
  projects/rocprofiler-sdk/tests/rocprofv3/attachment/attach-twice/CMakeLists.txt
Labels: project: rocprofiler-sdk, organization: ROCm, ready for 2nd review, Continuous Integration, rocprofiler-sdk: Ready for 2nd code review

#1066 [rocprofiler-compute] make pmc files deterministic
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
Labels: project: rocprofiler-compute, organization: ROCm

#1038 [rocprofiler-sdk][CI] install libva-amdgpu-dev in requirements CodeQL Job
  .github/workflows/rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
Labels: github actions, organization: ROCm

#956 rocprofiler-sdk CI workflow improvements
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-build-ci-docker-images.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/rocprofiler-sdk/docker/Dockerfile.ci
Labels: project: rocprofiler-sdk, github actions, organization: ROCm

#817 SWDEV-550882 - Add support for hipIpcMemLazyEnablePeerAccess
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
Labels: organization: ROCm, project: clr

#946 hip-tests: Fix hipPerfBufferCopySpeed
  projects/hip-tests/catch/perftests/memory/hipPerfBufferCopySpeed.cc
Labels: organization: ROCm, project: hip-tests

#219 [rocprofiler-sdk] Improve error message for invalid extra counters YAML format
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/counters/metrics.cpp
Labels: project: rocprofiler-sdk, organization: ROCm, ready to merge

#1094 SWDEV-556866 - Added missing include of rocrctx.hpp in rocurilocator
  projects/clr/rocclr/device/rocm/rocurilocator.hpp
Labels: organization: ROCm, project: clr

#1100 [rocprof-compute] fixed function argument dir in apply_filters()
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
Labels: project: rocprofiler-compute, organization: ROCm

#1003 [rocprofiler-compute] Update gfx12 counter definitions
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/counter_defs.yaml
Labels: project: rocprofiler-compute, organization: ROCm

#1098 chore: [rdc] Add copyright notice
  projects/rdc/authentication/01gen_root_cert.sh
  projects/rdc/authentication/02gen_ssl_artifacts.sh
  projects/rdc/authentication/install_client.sh
  projects/rdc/authentication/install_server.sh
  projects/rdc/cmake_modules/version_util.sh
  projects/rdc/include/rdc/rdc_private.h
  projects/rdc/python_binding/RdcReader.py
  projects/rdc/python_binding/RdcUtil.py
  projects/rdc/python_binding/rdc_bootstrap.py
  projects/rdc/python_binding/rdc_collectd.py
  projects/rdc/python_binding/rdc_prometheus.py
  projects/rdc/server/run_build.sh
  projects/rdc/tools/cmake_format.sh
Labels: project: rdc, organization: ROCm

#1116 [rocprofiler-compute] Fix instructions to build standalone binary
  projects/rocprofiler-compute/CMakeLists.txt
Labels: project: rocprofiler-compute, organization: ROCm

#902 Users/taosang/SWDEV-510994 - Refractor atomics header and tests
  projects/clr/hipamd/include/hip/amd_detail/amd_hip_atomic.h
  projects/hip-tests/catch/hipTestMain/config/config_amd_linux
  projects/hip-tests/catch/hipTestMain/config/config_amd_windows
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/atomics/arithmetic_common.hh
  projects/hip-tests/catch/unit/atomics/atomicAdd_system.cc
  projects/hip-tests/catch/unit/atomics/atomicAnd.cc
  projects/hip-tests/catch/unit/atomics/atomicAnd_system.cc
  projects/hip-tests/catch/unit/atomics/atomicCAS_system.cc
  projects/hip-tests/catch/unit/atomics/atomicExch_common.hh
  projects/hip-tests/catch/unit/atomics/atomicExch_system.cc
  projects/hip-tests/catch/unit/atomics/atomicMax.cc
  projects/hip-tests/catch/unit/atomics/atomicMax_system.cc
  projects/hip-tests/catch/unit/atomics/atomicMin.cc
  projects/hip-tests/catch/unit/atomics/atomicMin_system.cc
  projects/hip-tests/catch/unit/atomics/atomicOr.cc
  projects/hip-tests/catch/unit/atomics/atomicOr_system.cc
  projects/hip-tests/catch/unit/atomics/atomicSub_system.cc
  projects/hip-tests/catch/unit/atomics/atomicXor.cc
  projects/hip-tests/catch/unit/atomics/atomicXor_system.cc
  projects/hip-tests/catch/unit/atomics/bitwise_common.hh
  projects/hip-tests/catch/unit/atomics/memory_order_common.hh
  projects/hip-tests/catch/unit/atomics/min_max_common.hh
Labels: organization: ROCm, project: clr, project: hip-tests

#813 SWDEV-524745 - Part-II Add multi device support for hip graph. Update…
  projects/clr/hipamd/src/hip_graph_internal.cpp
  projects/clr/hipamd/src/hip_graph_internal.hpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
  projects/clr/rocclr/device/rocm/rocvirtual.cpp
  projects/clr/rocclr/platform/command.hpp
Labels: organization: ROCm, project: clr

#1130 Update TheRock CI to use health status script
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Labels: github actions, organization: ROCm

#1092 SWDEV-1 better cmake errors
  projects/clr/CMakeLists.txt
  projects/hip-tests/catch/CMakeLists.txt
Labels: organization: ROCm, project: clr, project: hip-tests

#998 SWDEV-1 - hipcc args: --rocm-path to --hip-path in tests
  projects/hip-tests/catch/multiproc/CMakeLists.txt
  projects/hip-tests/catch/unit/c_compilation/CMakeLists.txt
  projects/hip-tests/catch/unit/callback/CMakeLists.txt
  projects/hip-tests/catch/unit/compiler/CMakeLists.txt
  projects/hip-tests/catch/unit/dynamicLoading/CMakeLists.txt
  projects/hip-tests/catch/unit/module/CMakeLists.txt
Labels: organization: ROCm, project: hip-tests

#985 [rocprofiler-sdk][RCCL] RCCL New API changes for RCCL_API_TRACE_VERSION_PATCH = 2
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/api_args.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/api_id.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/details/api_trace.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/rccl/details/rccl.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rccl/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/rccl/rccl.def.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Labels: project: rocprofiler-sdk, organization: ROCm, ready to merge

#1169 attach/detach: change workload of unit test to accommodate SDK's current limitation
  projects/rocprofiler-compute/sample/dynamic_shared/dynamic_shared.hip
  projects/rocprofiler-compute/tests/test_profile_general.py
Labels: project: rocprofiler-compute, organization: ROCm

#1173 Fix VulkanTest::CreateMappedStorage _WIN64 segfault
  projects/hip-tests/catch/unit/vulkan_interop/vulkan_test.hh
Labels: organization: ROCm, project: hip-tests
