Repository ROCm/rocm-systems, pull requests merged in 2025-10, with the labels that each got.

#1196 Adding skip to docs paths
  .azuredevops/rocm_ci_caller.yml
Labels: External CI

#1194 rocr: Support batching in InterceptQueue store
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/intercept_queue.cpp
Labels: project: rocr-runtime, organization: ROCm

#1115 rocr: Don't assert in hsa_shut_down when no agents
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/runtime.cpp
Labels: project: rocr-runtime, organization: ROCm

#1165 [rocprofiler-systems] Remove OMPT category and fix certain preprocessor checks
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/categories.hpp
  projects/rocprofiler-systems/source/lib/core/components/fwd.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-user/rocprofiler-systems/categories.h
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/components/category_region.hpp
Labels: project: rocprofiler-systems, organization: ROCm

#1203 Cleaned up the cmake script code that sets the LLVM lib path
  projects/rocprofiler-systems/tests/rocprof-sys-openmp-tests.cmake
  projects/rocprofiler-systems/tests/rocprof-sys-testing.cmake
Labels: project: rocprofiler-systems, organization: ROCm

#664 SWDEV-546350 - [catch2][dtest] Test cases for hipMemPrefetchAsync_v2 and hipMemAdvise_v2
  projects/hip-tests/catch/unit/memory/CMakeLists.txt
  projects/hip-tests/catch/unit/memory/hipMemAdvise_v2.cc
  projects/hip-tests/catch/unit/memory/hipMemPrefetchAsync_v2.cc
Labels: organization: ROCm, project: hip-tests, STRESS_TEST_INITIATED

#997 rocprofiler-systems Nightly and CI on Ubuntu Jammy/Noble on MI355 and MI325
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Labels: project: rocprofiler-systems, github actions, organization: ROCm

#1182 [ROCProfiler-SDK][ROCR] HSA New API changes for HSA_AMD_EXT_API_TABLE_STEP_VERSION 8
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/cxx/enum_string.hpp
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/amd_ext_api_id.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hsa/api_args.h
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/abi.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/details/fmt.hpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/hsa.def.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/hsa/utils.hpp
  projects/rocprofiler-sdk/tests/rocprofv3/att-consecutive-kernels/CMakeLists.txt
Labels: project: rocprofiler-sdk, github actions, organization: ROCm, ready for 2nd review

#1266 SWDEV-554608 - Add hipHostRegisterIoMemory for hipHostRegister
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/src/hip_memory.cpp
  projects/clr/rocclr/device/device.hpp
  projects/clr/rocclr/device/rocm/rocdevice.cpp
  projects/clr/rocclr/device/rocm/rocmemory.hpp
  projects/clr/rocclr/platform/memory.hpp
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
Labels: organization: ROCm, project: clr, project: hip, project: hip-tests

#1152 SWDEV-557828 - fix hip-tests on cuda
  projects/clr/hipamd/include/hip/amd_detail/hip_api_trace.hpp
  projects/clr/hipamd/include/hip/amd_detail/hip_prof_str.h
  projects/clr/hipamd/src/hip_api_trace.cpp
  projects/clr/hipamd/src/hip_library.cpp
  projects/clr/hipamd/src/hip_table_interface.cpp
  projects/hip-tests/catch/include/hip_test_common.hh
  projects/hip-tests/catch/unit/library/CMakeLists.txt
  projects/hip-tests/catch/unit/library/library_negative.cc
  projects/hip-tests/catch/unit/library/loadlib_rtc.cc
  projects/hip-tests/catch/unit/memory/hipHostRegister.cc
  projects/hip/include/hip/hip_runtime_api.h
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
  projects/rocprofiler-sdk/source/include/rocprofiler-sdk/hip/api_args.h
Labels: project: rocprofiler-sdk, organization: ROCm, project: clr, project: hip, project: hipother, project: hip-tests

#1295 Adding release trigger
  .azuredevops/rocm_ci_caller.yml
Labels: External CI, organization: ROCm

#1271 Update rocprofiler-systems-continuous-integration.yml
  .github/workflows/rocprofiler-systems-continuous-integration.yml
Labels: github actions, organization: ROCm

#1016 [rocprofiler-systems] [ROCpd] Add OMPT callbacks to ROCpd
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.cpp
  projects/rocprofiler-systems/source/lib/core/trace_cache/metadata_registry.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Labels: project: rocprofiler-systems, organization: ROCm
