Repository ROCm/rocm-systems, pull requests merged in 2025-08, with the labels that each got.

#116 Backport ROCm 7.0 changelog
  projects/rocprofiler-compute/CHANGELOG.md
Labels: project: rocprofiler-compute, organization: ROCm

#122 Re-add rhel8 roofline binaries
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/utils/rooflines/roofline-rhel8-rocm7
  projects/rocprofiler-compute/src/utils/rooflines/roofline-rhel9-rocm7
  projects/rocprofiler-compute/src/utils/utils.py
Labels: project: rocprofiler-compute, organization: ROCm

#188 Changing CDash Project
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  projects/aqlprofile/dashboard.cmake
  projects/rocprofiler-sdk/source/scripts/run-ci.py
  projects/rocprofiler-sdk/source/scripts/upload-image-to-github.py
Labels: project: rocprofiler-sdk, project: aqlprofile, organization: ROCm

#120 README update
  projects/rocprofiler/README.md
Labels: project: rocprofiler, organization: ROCm

#229 [GitHub Actions] Fix workflow title
  .github/workflows/import-prep-workflow-enable.yml
Labels: github actions

#230 [GitHub Actions] json typo corrections
  .github/workflows/new-subtree-setup-release.yml
  .github/workflows/new-subtree-setup.yml
Labels: github actions

#235 README: Add CI status badges
  README.md
Labels: documentation

#237 [GitHub Actions] Copying latest workflows from develop
  .github/labeler.yml
  .github/repos-config.json
  .github/scripts/azure_resolve_subtree_deps.py
  .github/workflows/aqlprofile-codeql.yml
  .github/workflows/aqlprofile-continuous_integration.yml
  .github/workflows/aqlprofile-rocm-ci-caller.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-org-label.yml
  .github/workflows/rocprofiler-compute-docs.yml
  .github/workflows/rocprofiler-compute-formatting.yml
  .github/workflows/rocprofiler-compute-mi-rhel9.yml
  .github/workflows/rocprofiler-compute-packaging.yml
  .github/workflows/rocprofiler-compute-rhel-8.yml
  .github/workflows/rocprofiler-compute-tarball.yml
  .github/workflows/rocprofiler-compute-ubuntu-jammy.yml
  .github/workflows/rocprofiler-register-continuous-integration.yml
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-codeql.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-docs.yml
  .github/workflows/rocprofiler-sdk-formatting.yml
  .github/workflows/rocprofiler-sdk-python.yml
  .github/workflows/rocprofiler-sdk-restrictions.yml
  .github/workflows/rocprofiler-sdk-rocm_ci_caller.yml
  .github/workflows/rocprofiler-sdk-rocm_release_compatibility.yml
  .github/workflows/rocprofiler-systems-containers.yml
  .github/workflows/rocprofiler-systems-cpack.yml
  .github/workflows/rocprofiler-systems-formatting.yml
  .github/workflows/rocprofiler-systems-opensuse.yml
  .github/workflows/rocprofiler-systems-python.yml
  .github/workflows/rocprofiler-systems-redhat.yml
  .github/workflows/rocprofiler-systems-release.yml
  .github/workflows/rocprofiler-systems-ubuntu-focal.yml
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
Labels: github actions

#273 Fixing Docs for ROCProfiler SDK CI
  .github/workflows/rocprofiler-sdk-code_coverage.yml
  .github/workflows/rocprofiler-sdk-continuous_integration.yml
  .github/workflows/rocprofiler-sdk-docs.yml
Labels: organization: ROCm

#222 Fix cmake formatting
  projects/rocprofiler-compute/CMakeLists.txt
Labels: project: rocprofiler-compute, organization: ROCm

#276 Fix instruction cache metrics
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0300_memory_chart.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/profile_configs/counter_defs.yaml
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/utils/autogen_hash.yaml
  projects/rocprofiler-compute/utils/unified_config.yaml
Labels: project: rocprofiler-compute, organization: ROCm

#313 rocminfo: Fix comparison to None
  projects/rocminfo/rocm_agent_enumerator
Labels: organization: ROCm, project: rocminfo

#275 rocr: Update code owners file
  .github/CODEOWNERS
  projects/rocr-runtime/.github/CODEOWNERS
  projects/rocr-runtime/.github/palamida.yml
  projects/rocr-runtime/.github/workflows/kws_caller.yml
  projects/rocr-runtime/.github/workflows/rocm_ci_caller.yml
Labels: organization: ROCm

#314 rocminfo: unset executable flag
  projects/rocminfo/CMakeLists.txt
  projects/rocminfo/cmake_modules/utils.cmake
  projects/rocminfo/rocminfo.cc
Labels: organization: ROCm, project: rocminfo

#328 [GitHub Actions] Add ROCR auto-label
  .github/labeler.yml
Labels: github actions

#341 [rocprofiler-compute] ROCm 7.0 RC 4 cherry pick 2
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/VERSION
Labels: project: rocprofiler-compute, organization: ROCm

#337 Add Google logging initializer to OMPT start tool to prevent benign warning.
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/ompt.cpp
  projects/rocprofiler-sdk/source/lib/rocprofiler-sdk/registration.cpp
Labels: project: rocprofiler-sdk, organization: ROCm

#319 Add realtime clock agent info to ATT records
  projects/aqlprofile/src/core/threadtrace.cpp
  projects/aqlprofile/src/pm4/sqtt_builder.h
  projects/aqlprofile/src/pm4/trace_config.h
  projects/aqlprofile/src/util/hsa_rsrc_factory.cpp
  projects/aqlprofile/src/util/hsa_rsrc_factory.h
Labels: project: aqlprofile, organization: ROCm, ready for peer review, ROCm-7.1

#348 [rocprof-compute] updated formatting workflow and docs
  .github/workflows/rocprofiler-compute-formatting.yml
  projects/rocprofiler-compute/CONTRIBUTING.md
  projects/rocprofiler-compute/README.md
  projects/rocprofiler-compute/docs/data/contributing/pre-commit-hook.png
  projects/rocprofiler-compute/requirements.txt
Labels: documentation, project: rocprofiler-compute, github actions, organization: ROCm

#355 [Ex CI] add rocprofiler pipeline ID
  .github/scripts/azure_resolve_subtree_deps.py
Labels: github actions, External CI, organization: ROCm

#364 [rocprofiler-systems] Fixed build-docker script failure on sparse checkout
  projects/rocprofiler-systems/docker/build-docker.sh
  projects/rocprofiler-systems/docker/containers.yml
Labels: project: rocprofiler-systems, organization: ROCm

#359 [rocprofiler-systems] Fix rocprof-sys-run --help seg fault
  projects/rocprofiler-systems/source/bin/rocprof-sys-run/impl.cpp
Labels: project: rocprofiler-systems, organization: ROCm

#623 Source of truth update Aug 18
  .github/repos-config.json
Labels: github actions

#641 SWDEV-546295 - fix param conversions for hipMemcpy3DBatchAsync
  projects/clr/hipamd/src/hip_conversions.hpp
Labels: organization: ROCm, project: clr

#639 [rocprofiler-systems] Add working-directory to gersemi, clang-format, and check-includes steps
  .github/workflows/rocprofiler-systems-formatting.yml
Labels: project: rocprofiler-systems, github actions, organization: ROCm

#325 [rocprof-compute] Generalize Roofline
  projects/rocprofiler-compute/docs/how-to/analyze/cli.rst
  projects/rocprofiler-compute/docs/how-to/analyze/standalone-gui.rst
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/config.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_cli.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_webui.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx908/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline.yaml
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/schema.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/src/utils/utils.py
  projects/rocprofiler-compute/tests/test_profile_general.py
  projects/rocprofiler-compute/tests/test_utils.py
  projects/rocprofiler-compute/utils/autogen_hash.yaml
  projects/rocprofiler-compute/utils/split_config.py
  projects/rocprofiler-compute/utils/unified_config.yaml
Labels: documentation, project: rocprofiler-compute, organization: ROCm

#221 Update rocprofiler-compute workflows and CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/rocprofiler-compute-docs.yml
  .github/workflows/rocprofiler-compute-formatting.yml
  .github/workflows/rocprofiler-compute-mi-rhel9.yml
  .github/workflows/rocprofiler-compute-packaging.yml
  .github/workflows/rocprofiler-compute-rhel-8.yml
  .github/workflows/rocprofiler-compute-tarball.yml
  .github/workflows/rocprofiler-compute-ubuntu-jammy.yml
  projects/rocprofiler-compute/.github/CODEOWNERS
  projects/rocprofiler-compute/.github/dependabot.yml
  projects/rocprofiler-compute/.github/workflows/daily-staging-sync.yml
  projects/rocprofiler-compute/.github/workflows/docs.yml
  projects/rocprofiler-compute/.github/workflows/formatting.yml
  projects/rocprofiler-compute/.github/workflows/mi-rhel9.yml
  projects/rocprofiler-compute/.github/workflows/packaging.yml
  projects/rocprofiler-compute/.github/workflows/rhel-8.yml
  projects/rocprofiler-compute/.github/workflows/tarball.yml
  projects/rocprofiler-compute/.github/workflows/ubuntu-jammy.yml
  projects/rocprofiler-compute/.github/workflows/weekly-liangdin-test-rebase.yml
Labels: project: rocprofiler-compute, github actions, organization: ROCm

#672 SWDEV-543981 Part 2 This is a new branch to avoid the many errors in the original branch due to migration, best to close other PR.
  projects/hip-tests/catch/perftests/memory/hipPerfBufferCopySpeed.cc
  projects/hip-tests/perftests/memory/hipPerfBufferCopySpeed.cpp
Labels: organization: ROCm, project: hip-tests

#687 [aqlprofile] set gpu agent name while registering agent
  projects/aqlprofile/src/core/pm4_factory.cpp
Labels: project: aqlprofile, organization: ROCm

#651 SWDEV-550231 - fix hipGetDriverEntryPoint_common
  projects/clr/hipamd/src/hip_device_runtime.cpp
Labels: organization: ROCm, project: clr

#643 [Ex CI] add rocprofiler status badge
  README.md
Labels: documentation, External CI, organization: ROCm

#703 [rocprofiler-compute][TUI] Updates and refactor.
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/analysis_tui.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/tui_app.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/utils/kernel_view_config.yaml
Labels: project: rocprofiler-compute, organization: ROCm

#648 SWDEV-524348 - Update description for multiProcessorCount
  projects/hip/include/hip/hip_deprecated.h
  projects/hip/include/hip/hip_runtime_api.h
Labels: organization: ROCm, project: hip

#671 [rocprof-compute] Update Formatting
  projects/rocprofiler-compute/src/argparser.py
  projects/rocprofiler-compute/src/rocprof_compute_analyze/analysis_base.py
  projects/rocprofiler-compute/src/rocprof_compute_base.py
  projects/rocprofiler-compute/src/rocprof_compute_soc/soc_base.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/views/main_view.py
  projects/rocprofiler-compute/src/rocprof_compute_tui/widgets/collapsibles.py
  projects/rocprofiler-compute/src/roofline.py
  projects/rocprofiler-compute/src/utils/file_io.py
  projects/rocprofiler-compute/src/utils/parser.py
  projects/rocprofiler-compute/src/utils/roofline_calc.py
  projects/rocprofiler-compute/src/utils/tty.py
  projects/rocprofiler-compute/tests/test_utils.py
  projects/rocprofiler-compute/utils/split_config.py
Labels: project: rocprofiler-compute, organization: ROCm

#435 Eval metrics performance optimizations
  projects/rocprofiler-compute/CHANGELOG.md
  projects/rocprofiler-compute/src/utils/parser.py
Labels: project: rocprofiler-compute

#655 Fix buffer overrun
  projects/rocm-core/rocm_version.cpp
Labels: organization: ROCm, project: rocm-core

#683 SWDEV-551080 - Fix hipMemcpyDeviceToDeviceNoCU path
  projects/clr/rocclr/device/blit.cpp
  projects/clr/rocclr/device/rocm/rocblit.cpp
Labels: organization: ROCm, project: clr

#736 rocr: GFX12+ - Fix trap handler to process SW trap ID correctly
  projects/rocr-runtime/runtime/hsa-runtime/core/runtime/trap_handler/trap_handler_gfx12.s
Labels: project: rocr-runtime, organization: ROCm

#731 SWDEV-550626 - Make atomics test pass with new compiler
  projects/hip-tests/catch/unit/atomics/min_max_common.hh
Labels: organization: ROCm, project: hip-tests

#747 Implement hipMemAllocationTypeUncached in hipMemCreate
  projects/clr/CHANGELOG.md
  projects/clr/hipamd/src/hip_vm.cpp
  projects/hip/include/hip/hip_runtime_api.h
Labels: organization: ROCm, project: clr, project: hip

#642 SWDEV-551218 - Fix hip on nvidia build failures
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
Labels: organization: ROCm, project: hipother

#761 [rocprofiler-compute] Fix rocprofiler-compute workflows
  .github/workflows/rocprofiler-compute-docs.yml
  .github/workflows/rocprofiler-compute-packaging.yml
  README.md
Labels: documentation, github actions, organization: ROCm

#751 Fix collecting of `stream_id' with multi stream applications for rocpd
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
Labels: project: rocprofiler-systems, organization: ROCm

#702 [rocprofiler-systems] Switched to rocprofiler-SDK for OMPT tracing
  .github/workflows/rocprofiler-systems-ubuntu-jammy.yml
  projects/rocprofiler-systems/cmake/Packages.cmake
  projects/rocprofiler-systems/examples/openmp/target/library.cpp
  projects/rocprofiler-systems/source/bin/rocprof-sys-sample/impl.cpp
  projects/rocprofiler-systems/source/lib/common/setup.hpp
  projects/rocprofiler-systems/source/lib/core/argparse.cpp
  projects/rocprofiler-systems/source/lib/core/categories.hpp
  projects/rocprofiler-systems/source/lib/core/config.cpp
  projects/rocprofiler-systems/source/lib/core/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys-user/rocprofiler-systems/categories.h
  projects/rocprofiler-systems/source/lib/rocprof-sys/library.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/CMakeLists.txt
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ompt.cpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/ompt.hpp
  projects/rocprofiler-systems/source/lib/rocprof-sys/library/rocprofiler-sdk.cpp
  projects/rocprofiler-systems/tests/rocprof-sys-openmp-tests.cmake
Labels: project: rocprofiler-systems, github actions, organization: ROCm

#717 Updated Group-By-HIP Stream documentation
  projects/rocprofiler-systems/CHANGELOG.md
  projects/rocprofiler-systems/docs/how-to/configuring-runtime-options.rst
Labels: documentation, project: rocprofiler-systems, organization: ROCm

#693 [Ex CI] create hip/clr/hipother trigger
  .azuredevops/hip-clr.yml
Labels: External CI, organization: ROCm

#782 [Ex CI] add hip-clr pipeline ID, add status badge to README
  .github/scripts/azure_resolve_subtree_deps.py
  README.md
Labels: documentation, github actions, External CI, organization: ROCm

#768 SWDEV-525231 - Update changelog for 7.0
  projects/clr/CHANGELOG.md
Labels: organization: ROCm, project: clr

#685 Update the scratch memory docs with the new allocation_size field
  projects/rocprofiler-sdk/source/docs/data/scratch_memory_trace.csv
  projects/rocprofiler-sdk/source/docs/how-to/using-rocprofv3.rst
Labels: documentation, project: rocprofiler-sdk, organization: ROCm

#746 SWDEV-546639 monorepo fix for nvidia hip runtime api
  projects/hipother/hipnv/include/hip/nvidia_detail/nvidia_hip_runtime_api.h
Labels: organization: ROCm, project: hipother

#649 [SWDEV-540377] Fixed segfault in --showevent command
  projects/rocm-smi-lib/.github/CODEOWNERS
  projects/rocm-smi-lib/python_smi_tools/rocm_smi.py
  projects/rocm-smi-lib/python_smi_tools/rsmiBindings.py
Labels: project: rocm-smi-lib, organization: ROCm
